/*Bootstrap fixes*/

.adapt-fixed-top {
   margin-top: 78px;
}

.carousel-item > img {
   margin:auto;
   width:100%;
}

.dropdown-menu-lab {
   background-color: #ccc;
}

.dropdown-item {
   display: block;
   width: 100%;
   padding: 0.25rem 1.5rem;
   clear: both;
   font-weight: 400;
   color: #212529;
   text-align: inherit;
   white-space: nowrap;
   text-decoration: none;
   background-color: transparent;
   border: 0;
}

.dropdown-item-lab:hover, .dropdown-item-lab:focus {
   color: #fff;
   text-decoration: none;
   background-color: #ccc;
}

.dropdown-item-lab.active, .dropdown-item-lab:active {
   color: #fff;
   text-decoration: none;
   background-color: #ccc;
}

.nav-link {
   display: block;
   padding: 0.5rem 1rem;
   text-decoration: none;
}

/*Website specific styles*/

a {
  color: #000000;
  text-decoration: underline;
}

p {
   margin-bottom:0;
}

hr {
   border: none;
   height: 1px;
   background-color: #eaecef;
}

.thick-hr {
   height: 3px;   
   background-color: #aaaaaa;
}

.footer-margin {
   margin-top: 15px;   
}

.grey-subtitle {
   color:#696969;
}

.main-paragraph h1, 
.main-paragraph h2, 
.main-paragraph h3, 
.main-paragraph h4, 
.main-paragraph h5, 
.main-paragraph h6 {
   text-align: center;
} 

.middle-image {
   margin:auto;
   width:100%;
}

.news-side > p > img {
   float:left;
   margin-right: 10px;
   margin-bottom: 16px;
}

.news-side > blockquote > p {
   clear: both;
}

.talk-center > h3 {
   text-align: center;
}

.talk-center > h5 {
   text-align: center;
}

.talk-center > div {
   text-align: center;
}

.people_margin > h3 {
   margin-top: 0px !important;
}

.title {
   margin-top: 10px;
   text-align: center;
   border-bottom: 1px solid #eaecef;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 670px;
}

